body {
  font-family: "Trebuchet MS", sans-serif;
}

h1 {
  margin: 50px;
}

.loader {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid transparent;
  border-top-color: green;
  border-radius: 50%;
  animation: spinning 1s linear infinite;
}

@keyframes spinning {
  to {
    transform: rotate(1turn);
  }
}

.container {
  max-width: 1500px;
  margin: auto;
}

.descriptions {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}

.description {
  border: 1px solid green;
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: auto;
}
